body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: linear-gradient(135deg, #0d0d0d, #1a1a1a);
  overflow: hidden;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
